.container {
    position: relative;
    top: 0;
    left: 0; 
    height: 1000px; 
    width: 2000px;
    background: white;
}

.navbar {
    padding-left: 40px;
    height: 40px;
    margin-left: 8px;
    margin-top: 10px;
    border-radius: 4px;
    background: white;
    font: 15px helvetica;
}  

.navbar-brand {
    display: inline-block;
    padding-top: 5px;;
    padding-bottom: 0.5px;
    margin-right: 5px;
    font-size: 20px;
}

.btn {
    display: inline-block;
    color: white;
    background-color: darkcyan;
    text-align: center;
    border: transparent;
    padding: 10px 10px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 5px;
  }

.dropdown-item {
    display: block;
    padding: 2px 20px;
    color: darkcyan;
    text-align: center;
    background-color:transparent;
}

#summaryheader {
    font: 35px verdana;
    padding: 8px;
    font-weight: bold;
    color: darkcyan;
}

.main-vis {
    font: 16px helvetica;
    line-height: 1.5;
    padding: 40px;
    margin-top: 10px;
    margin-left: -20px;
    background: whitesmoke; 
    width: 100%;
    height: 50%;
}

.visheader {
    position: relative;
    background-color: none;
    font: 40px verdana;
    font-weight: bold;
    padding: 8px;
    margin: 20px;
    margin-left: 450px;
    text-align: center;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #444;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

#dataheader {
    font: 16px helvetica;
    line-height: 1;
    margin-bottom: 100px;
}

.data-vis {
    font: 16px helvetica;
    background: whitesmoke; 
    padding-top: 70px;
    padding-bottom: 0%;
}

@media (max-width:400px) {
    .navbar, .navbar-brand {
        float: left;
        height: 20px;
        width: 70px;
    }
}